.grid{
	border: 1px solid black;
	padding: 30px;
	width: 90%;
	height: 600px;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2px ;
	text-align: center;
	text-transform: uppercase;
	color: white;
	box-sizing: content-box;
	font-size: xxx-large;


	grid-template-areas:
		'header header header header header'
		'hero hero main main main'
		'hero hero main main main'
		'side side main main main'
		'side side extra extra extra'
		'related related related related post'
		'related related related related post'
		'footer footer footer footer footer'
	;
}

.header{
	grid-area: header;
	background-color: blue;



}
.hero{
	grid-area: hero;
	background-color: purple;

}
.main{
	grid-area: main;
	background-color: yellow;

}
.side{
	grid-area: side;
	background-color: green;

}
.extra{
	grid-area: extra;
	background-color: grey;

}
.related{
	grid-area: related;
	background-color: aqua;

}
.post{
	grid-area: post;
	background-color: pink;

}
.footer{
	grid-area: footer;
	background-color: orange;
}