.all{
	display: inline-flex;
	flex-wrap: wrap;
	padding: 5px;


}

.grid{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	display: inline-flex;

	padding: 2px;

}
.grid2{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	display: inline-flex;
	padding: 2px;

}
.grid3{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	display: inline-flex;
	padding: 2px;
}
.yellow{
	text-align:center;
	background-color: yellow;
	height: 50px;
	width: 50px;
	margin:3px;
	color: transparent; 

}
.orange{
	text-align:center;
	background-color: orange;
	height: 50px;
	width: 50px;
	margin:3px;
	color: transparent; 

}
.brown{
	text-align:center;
	background-color: brown;
	height: 50px;
	width: 50px;
	margin:3px;
	color: transparent; 

}