.button {
appearance: none;
color: #fff;
background-color: #2fa0f6;
min-width: 120px;
padding: .5rem 1rem;
border-radius: 5px;
text-align: center;
}

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    display: flex;
}