a {
    border: 20px blue;
}
img {
    height: 500px;
    width: 1000px;
    position: center;
    border: solid red 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-content: center;
}

h5 {
    color: red;
    text-align: center;
    border: red solid 20px;
}
table {
    border: black 2px solid;
    position: center;
    margin: 30px;
}